.colonne {
    margin: 0px 25px 0 25px;
    padding: 0;
}

.colonne::after {
    content: '';
    clear: both;
    display: block;
}

.colonne div {
    position: relative;
    float: left;
    width: 200px;
    /*height: 150px;*/
    margin: 0 0 0 35px;
    padding: 0;
}


.morph div img {
    width: 200px;
    height: 100px;
    -webkit-filter: grayscale(0) blur(0px);
    filter: grayscale(0) blur(0px);
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.morph div:hover img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}